{% extends 'admin/base.html.twig' %}

{% block title %}Association à Nice
{% endblock %}

{% block body %}

	<!--Contenu Orders-->
	<div class="pt-0">
		<div class="mx-4">
			{% set title = app.request.attributes.get('formSlug') == "adhesion-a-l-association-gnut-06" ? 'Les adhérants' : (app.request.attributes.get('donnees') == "payments" ? 'Les paiements' : (app.request.attributes.get('tierTypes') == "Donation" ? 'Les dons' : 'Les commandes')) %}
			<h2 class="my-4 text-primary text-center">{{ title }}
				de Gnut 06</h2>
			<div class="border border-secondary mb-4 mx-5"></div>

			<div class="row align-items-start mx-auto">
				<div class="col-12">
					<table class="table table-success table-striped">
						<thead>
							<tr>
								<th scope="col">
									{% if app.request.attributes.get('donnees') == 'orders' %}
										Réf commande
									{% elseif app.request.attributes.get('donnees') == 'payments' %}
										Réf paiement
									{% endif %}
								</th>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">Email</th>
								<th scope="col">Téléphone</th>
								<th scope="col">Liste</th>
								<th scope="col">Type</th>
								<th scope="col">Date</th>
								<th scope="col">
									{% if app.request.attributes.get('donnees') == 'orders' %}
										Réf paiement
									{% elseif app.request.attributes.get('donnees') == 'payments' %}
										Réf commande
									{% endif %}
								</th>
								<th class="text-end" scope="col">Montant</th>
							</tr>
						</thead>
						<tbody>
							{% set i = 0 %}
							{% set total_payment = 0 %}
							{% if data_forms['data'] is defined %}
								{% for item in data_forms['data'] %}
										{% include 'admin/_partials/tableau.html.twig' %}
										{% set total_payment = total_payment + item.amount %}
										{% set i = i + 1 %}
								{% endfor %}
							{% else %}
								No data available.
							{% endif %}
							<tr>
								<td class="text-end" scope="row" colspan="10">
									<strong class="text-primary">Soit
										{{ i }}
										billets sur
										{{ data_forms.pagination.totalCount }}
										pour un Total</strong>
									:
									{{ formattedPrice(total_payment) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-12 pagination-container mt-3">
					<nav aria-label="Admin navigation">
						<ul class="pagination">
							{% if data_forms['pagination'].pageIndex > 1 %}
								<li class="page-item">
									<a class="page-link" href="{{ path('admin_api', {'donnees' : app.request.attributes.get('donnees'),'formType': app.request.get('formType'), 'formSlug': app.request.attributes.get('formSlug'), 'tierTypes': app.request.attributes.get('tierTypes') ,'page': data_forms['pagination'].pageIndex - 1}) }}">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% endif %}

							{% for page in 1..data_forms['pagination'].totalPages %}
								<li class="page-item{% if page == data_forms['pagination'].pageIndex %} active{% endif %}">
									<a class="page-link" href="{{ path('admin_api', {'donnees' : app.request.attributes.get('donnees'),'formType': app.request.get('formType'), 'formSlug': app.request.attributes.get('formSlug'), 'tierTypes': app.request.attributes.get('tierTypes') ,'page': page}) }}">{{ page }}</a>
								</li>
							{% endfor %}

							{% if data_forms['pagination'].pageIndex < data_forms['pagination'].totalPages %}
								<li class="page-item">
									<a class="page-link" href="{{ path('admin_api', {'donnees' : app.request.attributes.get('donnees'),'formType': app.request.get('formType'), 'formSlug': app.request.attributes.get('formSlug'), 'tierTypes': app.request.attributes.get('tierTypes') ,'page': data_forms['pagination'].pageIndex + 1}) }}">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
