{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">

			<div class="col-md-6">
				<form method="post" class="needs-validation" novalidate>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% for message in app.flashes('error') %}
						<div class="alert alert-danger">{{ message }}</div>
					{% endfor %}

					{% if app.session.get('_flash_error') %}
						<div class="alert alert-danger">{{ app.session.get('_flash_error') }}</div>
						{% do app.session.remove('_flash_error') %}
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Vous êtes connecté en tant que
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>
					<div class="card p-4 shadow">
						<div class="form-floating mb-3">
							<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" placeholder="name@example.com" autocomplete="email" required autofocus>
							<label for="username">Email</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" name="_password" id="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
							<label for="password">Mot de passe</label>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><!-- Uncomment below for remember me functionality -->
						<!-- <div class="checkbox mb-3">
												            <label>
												                <input type="checkbox" name="_remember_me"> Se souvenir de moi
												            </label>
												        </div> -->
							<button class="w-100 btn btn-lg btn-primary" type="submit"> Se connecter</button>
					</form>
					<div class="my-4 text-center">
						<a href="{{ path('app_forgot_password_request') }}">Mot de passe perdu</a>
					</div>

					<div class="text-center">
                        <p>Ou connectez-vous avec :</p>
                        <a href="{{ path('connect_google_start') }}" class="btn btn-danger w-100">
                            <i class="fab fa-google"></i> Se connecter avec Google
                        </a>

						 {# NOUVEAU bouton Outlook #}
                        <a href="{{ path('connect_outlook_start') }}" class="btn btn-primary w-100" style="background-color: #0078D4;">
                            <i class="fab fa-microsoft"></i> Se connecter avec Microsoft
                        </a>
						
            		</div>

				</div>

			

			</div>
		</div>
	</div>

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% endblock %}