<div>
	<ul class="nav nav-tabs mt-5 pt-5">
		<li class="nav-item">
			<a class="nav-link{{ (app.request.attributes.get('formSlug') == 'adhesion-a-l-association-gnut-06') ? ' active' : '' }}" aria-current="item" href="{{ path('admin_api', {'donnees': 'orders', 'page': '1', 'formType': 'Membership', 'formSlug': 'adhesion-a-l-association-gnut-06', 'tierTypes' : '1'}) }}">Adhérants</a>
		</li>
		<li class="nav-item">
			<a class="nav-link{{ (app.request.attributes.get('donnees') == 'orders' and app.request.attributes.get('formSlug') == '1' and app.request.attributes.get('tierTypes') == " 1") ? ' active' : '' }}" href="{{ path('admin_api', {'donnees': 'orders', 'page': '1','formType': '1', 'formSlug': '1', 'tierTypes' : '1'}) }}">Commandes</a>
		</li>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('donnees') == 'payments') ? ' active' : '' }}" href="{{ path('admin_api', {'donnees': 'payments', 'page': '1','formType': '1', 'formSlug': '1', 'tierTypes' : '1'}) }}">Paiements</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('tierTypes') == 'Donation') ? ' active' : '' }}" href="{{ path('admin_api', {'donnees': 'orders', 'page': '1','formType': '1', 'formSlug': '1', 'tierTypes' : 'Donation'}) }}">Dons</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_admin_user') ? ' active' : '' }}" href="{{ path('app_admin_user') }}">Users</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_asso_recommander_new') ? ' active' : '' }}" href="{{ path('app_asso_recommander_new') }}">Ajout association</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_admin_asso_recommander') ? ' active' : '' }}" href="{{ path('app_admin_asso_recommander') }}">Associations à recommander</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_admin_payers_index') ? ' active' : '' }}" href="{{ path('app_admin_payers_index') }}">Payeurs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_entreprise') ? ' active' : '' }}" href="{{ path('app_entreprise') }}">Entreprises</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_benevole') ? ' active' : '' }}" href="{{ path('app_benevole') }}">Bénévoles</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'admin_donateurs') ? ' active' : '' }}" href="{{ path('admin_donateurs') }}">Donateurs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'admin_dons') ? ' active' : '' }}" href="{{ path('admin_dons') }}">Dons de casques</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'admin_casques') ? ' active' : '' }}" href="{{ path('admin_casques') }}">Voir tous les casques</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{{ (app.request.attributes.get('_route') == 'app_admin_ohme') ? ' active' : '' }}" href="{{ path('app_admin_ohme') }}">Contacts</a>
	<li class="nav-item">
		<a class="nav-link disabled">A venir</a>
	</li>
</ul></div>
