<div>
    <ul class="nav nav-tabs mt-5 pt-4">
        <li class="nav-item">
            <a class="nav-link{{ (app.request.attributes.get('formSlug') == 'adhesion-a-l-association-gnut-06') ? ' active' : '' }}" aria-current="item" href="?page={{ app.request.attributes.get('page') }}&item=orders&formType=Membership&formSlug=adhesion-a-l-association-gnut-06">Adhérants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{ (app.request.attributes.get('item') == 'orders' and not app.request.attributes.has('formSlug') and not app.request.attributes.has('tierTypes')) ? ' active' : '' }}" href="{{ path('admin_api', {'donnees': 'orders', 'page': '1'}) }}">Billets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{ (app.request.attributes.get('item') == 'payments') ? ' active' : '' }}" href="?page={{ app.request.attributes.get('page') }}&item=payments">Paiements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{{ (app.request.attributes.get('tierTypes') == 'Donation') ? ' active' : '' }}" href="?page={{ app.request.attributes.get('page') }}&item=orders&tierTypes=Donation">Donations</a>
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
        <li class="nav-item">
            <a class="nav-link disabled">A venir</a>
        </li>
    </ul>
</div>