<nav class="navbar navbar-expand-xxl bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">
      <img src="{{ asset('images/logo_trans-min.png') }}" alt="Logo de l'Association Gnut 06" class="logoNavbar"> Gnut 06
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-5" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
         {% if app.user %}
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_profil' %}active{% endif %}" href="{{ path('app_profil') }}">Profil</a>
        </li>
      	<li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
				</li>
				{% endif %}
      </ul>
    </div>
  </div>
</nav>
