<tr>
    <th scope="row">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Modal_{{ item.id|e }}">
            {{ item.id|e }}
        </button>

        <!-- Modal -->
        <div class="modal fade modal-xl" id="Modal_{{ item.id|e }}" tabindex="-1" aria-labelledby="Modal_{{ item.id|e }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="Modal_{{ item.id|e }}Label">Détails du billet numéro : {{ item.id|e }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% set order = item.id|e %}
                        {# {% include "includes/orders.php" %}
                        {% include 'views/admin/includes/orders/order.php' %} #}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </th>
    <td>{{ item.user.lastName is defined ? item.user.lastName|e : item.payer.lastName|e }}</td>
    <td>{{ item.user.firstName is defined ? item.user.firstName|e : item.payer.firstName|e }}</td>
    <td>{{ item.payer.email|e }}</td>
    <td>{{ item.customFields[0].answer is defined ? item.customFields[0].answer|e : 'Aucun' }}</td>
    <td><a href="?page={{ app.request.query.get('page')|e }}&item={{ app.request.query.get('item')|e }}&formType={{ item.order.formType|e }}&formSlug={{ item.order.formSlug|e }}"><i class="bi bi-browser-edge"></i></a></td>
    <td>{{ item.order.formType|e }}</td>
    <td>{{ item.order.date|date('d/m/y H:i') }}</td>
    <td>
        {% if item.payments[0].id is defined %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Modal_payment_{{ item.payments[0].id|e }}">
                {{ item.payments[0].id|e }}
            </button>

            <!-- Modal -->
            <div class="modal fade modal-xl" id="Modal_payment_{{ item.payments[0].id|e }}" tabindex="-1" aria-labelledby="Modal_payment_{{ item.payments[0].id|e }}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="Modal_payment_{{ item.payments[0].id|e }}Label">Détails du paiement numéro : {{ item.payments[0].id|e }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% set payment = item.payments[0].id|e %}
                            {# {% include "includes/payments.php" %}
                            {% include 'views/admin/includes/payments/payment.php' %} #}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            Gratuit
        {% endif %}
    </td>
    <td class="text-end">{{ formattedPrice(item.amount) }}</td>
</tr>