{% extends 'base.html.twig' %}

{% block title %}
	{{ app.request.query.get('organizationName')|url_decode }}
{% endblock %}

{% block body %}
	<div class="container pt-0">
		<div class="mx-3">
			<h2 class="my-5 text-primary text-center">
				{{ app.request.query.get('organizationName')|url_decode }}</h2>
			<div class="border border-secondary mb-5 mx-5"></div>
			<div class="row align-items-start mx-auto">
				{% for item in data_forms %}
					<div class="col d-flex justify-content-around my-3">
						<div class="card shadow-lg" style="width: 21rem;">
							{% if item.banner is defined and item.banner.publicUrl %}
								<img src="{{ item.banner.publicUrl }}" class="card-img-top" alt="Bannière de {{ app.request.query.get('organizationName')|url_decode }}">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title text-center">{{ item.title }}</h5>
								{% if item.logo is defined and item.logo.publicUrl %}
									<p class="card-text text-center">
										<img src="{{ item.logo.publicUrl }}" class="card-img-top logoAsso my-2" alt="Logo {{ app.request.query.get('organizationName')|url_decode }}">
									</p>
								</br>
							{% endif %}
							{% if item.endDate is defined and item.endDate %}
								<div class="alert alert-danger text-center mx-5 shadow-lg rounded-pill" role="alert">
									{% set endDate = item.endDate|date("Y-m-d H:i:s") %}
									{% set now = "now"|date("Y-m-d H:i:s") %}
									{% set interval = date(endDate).diff(date(now)) %}
									{% if interval.days == 0 %}
										<strong>Expire dans quelques heures</strong>
									{% else %}
										<strong>Expire dans
											{{ interval.days }}
											jours.</strong>
									{% endif %}
								</div>
							{% endif %}
							{% if item.description is defined and item.description %}
								<p class="text-justify">{{ item.description|slice(0, 200) }}...
									<br>
									<a class="icon-link icon-link-hover" href="{{ path('app_asso_recommander_detail', {'organizationSlug': item.organizationSlug, 'formType': item.formType,'formSlug': item.formSlug}) }}">
										En savoir +<i class="bi bi-arrow-right" aria-hidden="true"><use xlink:href="#arrow-right"></use></i>
									</a>
								</p>
							{% endif %}

							<div class="text-center">
								<button class="btn btn-warning text-primary" data-bs-toggle="modal" data-bs-target="#modal_{{ loop.index }}">
									{% if app.request.attributes.get('formTypes') == 'Event' %}
										<i class="bi bi-calendar-event-fill text-primary"></i>
										Réserver
									{% elseif app.request.attributes.get('formTypes') == 'Donation' %}
										<i class="bi text-primary bi-check"></i>
										Faire un don
									{% elseif app.request.attributes.get('formTypes') == 'Membership' %}
										<i class="bi text-primary bi-person-badge-fill"></i>
										Adhérer
									{% elseif app.request.attributes.get('formTypes') == 'CrowdFunding' %}
										<i class="bi text-primary bi-people-fill"></i>
										Soutenir
									{% elseif app.request.attributes.get('formTypes') == 'Shop' %}
										<i class="bi text-primary bi-shop"></i>
										Acheter
									{% endif %}
								</button>
							</div>

							<!-- Modal -->
							<div class="modal fade modal-{% if app.request.attributes.get('formTypes') == 'Donation' %}xl{% else %}lg{% endif %}" id="modal_{{ loop.index }}" tabindex="-1" aria-labelledby="ModalLabel_{{ loop.index }}" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="ModalLabel_{{ loop.index }}">{{ item.title }}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="{{ item.widgetFullUrl }}" style="width: 100%; height: 750px; border: none;"></iframe>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				No data available.
			{% endfor %}
			<div class="col-12 mt-4 text-center">
				{% if app.request.headers.get('Referer') %}
					<a class="btn btn-success text-white" href="{{ app.request.headers.get('Referer')|e('html_attr') }}"><i class="bi bi-skip-backward-circle text-white"></i> Retour</a>
				{% else %}
					<p>Impossible de retourner à la page précédente.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>{% endblock %}
