<main role="main">
	<div class="position-relative overflow-hidden">
		<video autoplay muted loop class="w-100" loading="lazy" poster="{{ asset('images/banner-placeholder.webp') }}">
			<source src="{{ asset('videos/banner.mp4') }}" type="video/mp4">
			Votre navigateur ne supporte pas la vidéo HTML5.
		</video>
		<div
			class="position-absolute top-50 start-50 translate-middle text-center text-white">{# <h2 class="display-4 fs-2 fs-md-2 fs-lg-3">Offrons des ailes à l'imaginaire</h2>
														<p class="lead fs-6 fs-md-5 fs-lg-4">L'association Gnut 06, fer de lance de l'inclusion numérique, souhaite offrir de nouvelles perspectives à celles et ceux qui en rêvent.</p> #}
		</div>
	</div>


	<h1 class="text-center my-5 shadow-lg" style="width: 294px; margin-left: auto; margin-right: auto; background: var(--2, linear-gradient(97deg, #F86CF8 12.04%, #64CEF5 81.84%)); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
		Gnut 06
	</h1>

	<h3 class="text-center mb-4 fade-in slogan">Des Mondes Virtuels, des Liens Réels : L'Inclusion à Portée de Main</h3>
	{% if app.request.attributes.get('_route') != 'app_adhesion' %}
		<h3 class="text-center mb-5 fs-1">
			<a href="{{ path('app_adhesion') }}" class="badge text-bg-primary p-4 text-uppercase">Adhérer</a>
		</h3>
	{% endif %}
	{% if app.request.attributes.get('_route') != 'app_metavers' %}
		<h3 class="text-center mb-5">
			<a href="https://framevr.io/handi-metavers" class="btn btn-warning position-relative fs-2 text-dark" target="_blank">
				HANDI-3D Metavers
				<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
					New
					<span class="visually-hidden">unread messages</span>
				</span>
			</a>
		</h3>
	{% endif %}

	{% if app.request.attributes.get('_route') in ['app_asso_recommander', 'app_asso_recommander_ville', 'app_asso_evenements'] and cities is defined %}
		{% include '_partials/nav_offcanvas_city.html.twig' %}
	{% endif %}

	{# {% if app.request.attributes.get('_route') == 'app_asso_recommander' or app.request.attributes.get('_route') == 'app_asso_recommander_ville' or app.request.attributes.get('_route') == 'app_asso_evenements' %}
				{% include '_partials/nav_offcanvas_city.html.twig' %}
			{% endif %} #}
	{% for label, flashes in app.session.flashbag.all() %}
		{% for flash in flashes %}
			{% set alertClass = 'info' %}
			{% if label == 'success' %}
				{% set alertClass = 'success' %}
			{% elseif label == 'warning' %}
				{% set alertClass = 'warning' %}
			{% elseif label == 'danger' %}
				{% set alertClass = 'danger' %}
			{% elseif label == 'error' %}
				{% set alertClass = 'danger' %}
			{% elseif label == 'info' %}
				{% set alertClass = 'info' %}
			{% endif %}
			<div class="alert alert-{{ alertClass }} text-center" role="alert">
				{{ flash }}
			</div>
		{% endfor %}
	{% endfor %}
</main>
