{# templates/profil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}

{% block body %}
	<h2 class="text-center">Profil de l'utilisateur</h2>

	<div class="text-center">
		<p>Identifiant:
			{{ user.id }}</p>
		<p>Email:
			{{ user.email }}</p>
	</div>
	<!-- Ajoutez plus d'informations de l'utilisateur ici -->
	<div class="container my-5">
		<div class="row justify-content-around">
			{% if data_items is defined and data_items['data'] is not empty %}
				{% for item in data_items['data']  %}
					<div class="col-12 col-lg-4 mb-4 card" style="width: 18rem;">
						<div class="card-body text-center">
							<h5 class="card-title bg-warning-subtle ">Commande n°{{ item.order.id }}</h5>
							<p class="card-text">
								{{ item.order.formName }}</p>
							<p class="card-text">Le
								{{ item.order.date|format_datetime(pattern="EEEE d MMMM y 'à' HH'h'mm", locale='fr') }}</p>
							<p class="card-text">Total:
								{{ item.amount }}
								€</p>
							{# <a href="{{ path('order_show', {'id': item.order.id}) }}" class="btn btn-primary">Voir la commande</a> #}
						</div>
					</div>
				{% endfor %}
				<div class="col-12 d-flex justify-content-center">
					<nav aria-label="Commandes sur Gnut 06">
						<ul class="pagination">
							{% if data_items['pagination'].pageIndex > 1 %}
								<li class="page-item">
									<a class="page-link" href="{{ path('app_profil_page', {'page': data_items['pagination'].pageIndex - 1}) }}">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% endif %}

							{% for page in 1..data_items['pagination'].totalPages %}
								<li class="page-item{% if page == data_items['pagination'].pageIndex %} active{% endif %}">
									<a class="page-link" href="{{ path('app_profil_page', {'page': page}) }}">{{ page }}</a>
								</li>
							{% endfor %}

							{% if data_items['pagination'].pageIndex < data_items['pagination'].totalPages %}
								<li class="page-item">
									<a class="page-link" href="{{ path('app_profil_page', {'page': data_items['pagination'].pageIndex + 1}) }}">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
			{% else %}
				<p>Aucune commande à afficher.</p>
			{% endif %}

		</div>
	</div>
	<div class="text-center my-4">
		<a href="{{ path('app_logout') }}" class="btn btn-danger">Se déconnecter</a>
	</div>
{% endblock %}
